# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Environment variables
.env
.env.*

# Editor directories and files
.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Miscellaneous
.angular/cache
.sass-cache/
connect.lock
coverage
libpeerconnection.log
testem.log
typings

# System files
.npmrc

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# Parcel bundler cache
.parcel-cache

# Next.js build output
.next

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Temporary folders
tmp/
temp/